[submodule "workery-backend"]
	path = workery-backend
	url = git@github.com:over55/workery-backend.git
[submodule "workery-frontend"]
	path = workery-frontend
	url = git@github.com:over55/workery-frontend.git
